@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2)
      format("woff2"),
    url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff)
      format("woff"),
    url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf)
      format("opentype");
}

@font-face {
  font-family: "Noto Sans KR Bold";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2)
      format("woff2"),
    url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff)
      format("woff"),
    url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf)
      format("opentype");
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  font-family: "Noto Sans KR Bold";
  color: #1d1a1a;
  letter-spacing: -1px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR";
}

.center {
  width: 80vw;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.center > span {
  width: 100%;
}

.center > div {
  width: 100%;
}

.title {
  font-family: "Noto Sans KR Bold";
  font-size: 2.6rem;
  letter-spacing: -1.25px;
  color: #1d1a1a;
}

.title_underbar {
  width: 30px;
  height: 4px;
  background: #1d1d1d;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.counter {
  font-family: "Noto Sans KR";
  font-size: 1.5rem;
  border: 0;
  resize: none;
  border: 1px solid #ddd;
  width: 100%;
  height: 400px;
  outline: 0;
  line-height: 1.7em;
  padding: 25px;
}

.result {
  font-family: "Noto Sans KR Bold";
  font-size: 2.6rem;
  letter-spacing: -1.25px;
  color: #1d1a1a;
  text-align: right;
  margin-top: 2rem;
}

.info {
  font-size: 1.6rem;
  color: #aaa;
  font-family: 'Noto Sans KR';
  letter-spacing: -1.25px;
  float: right;
  text-align: right;
}

.footbar_content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.6rem;
}

table {
  width: 100%;
  text-align: center;
  font-family: "Noto Sans KR";
  letter-spacing: -1.25px;
  border: 1px solid #fff;
  font-size: 1.8rem;
  margin-top: 2rem;
}

th {
  background: #1d1d1d;
  font-weight: 400;
  color: #fff;
  padding: 0.5em;
}

td {
  background-color: #ededed;
  color: #1d1d1d;
  padding: 0.5em;
}

.footbar {
  width: 80vw;
  max-width: 800px;
  margin-top: 4.5rem;
}

.footbar_content {
  width: 100%;
  margin: 0 auto;
}


@media (max-width:768px) {
  .center {
    width: 85vw;
  }

  .title {
    font-size: 2.3rem;
  }

  table {
    font-size: 1.3rem;
  }

  .result{
    font-size: 2.3rem
  }

  .info{
    font-size: 1.3rem;
  }
}

@media (max-width:480px) {
  header {
    flex-direction: column;
    align-items: start;
    margin-bottom: 2em;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 0.5em;
  }

  .title_underbar_wrapper {
    display: none;
  }

  tr {
    display: block;
    float: left;
  }

  tbody>tr:first-child {
    width: 40%;
  }

  tbody>tr:last-child {
    width: 60%;
  }

  th,
  td {
    display: block;
  }

  .result{
    font-size: 1.7rem;
    text-wrap:balance;
  }

  .info{
    font-size: 1rem;
  }
}