@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
    url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
    url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR Bold';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
    url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
    url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

a {
    text-decoration: none;
    font-family: 'Noto Sans KR Bold';
    color: #1d1a1a;
    letter-spacing: -1px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR';
}

.center {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.center > span {
    width: 100%;
}

.center > div {
    width: 100%;
}

.title {
    font-family: 'Noto Sans KR Bold';
    font-size: 20pt;
    letter-spacing: -1.25px;
    color: #1d1a1a;
}

.title_underbar {
    width: 30px;
    height: 4px;
    background: #1d1d1d;
    margin-top: 20px;
    margin-bottom: 30px;
}

.counter {
    font-family: 'Noto Sans KR';
    font-size: 11pt;
    border: 0;
    resize: none;
    border: 1px solid #ddd;
    width: 800px;
    height: 400px;
    outline: 0;
    padding: 25px;
    line-height: 25px;

}

.result {
    font-family: 'Noto Sans KR Bold';
    font-size: 20pt;
    letter-spacing: -1.25px;
    color: #1d1a1a;
    text-align: right;
    margin-top: 20px;
}

table {
    width: 100%;
    text-align: center;
    font-family: 'Noto Sans KR';
    letter-spacing: -1.25px;
    border: 1px solid #fff;
    font-size: 14pt;
    margin-top: 20px;
}

th {
    background: #1d1d1d;
    font-weight: 400;
    color: #fff;
    padding: 10px;
}
td {
    background-color: #ededed;
    color: #1d1d1d;
    padding: 10px;
}

.footbar {
  margin-top: 60px ;
}

.footbar_content {
    width: 800px;
    margin: 0 auto;
}
